.category-container {
    margin-top: 8rem;
}

.category-card{
    padding: 0 100px 80px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.category-image{
    width: 260px;
    height: 260px; 
    overflow: hidden;
    border-radius: 50%;
    img{
        
        margin: 0 auto;
        width: 260px;
        height: 260px; 
        object-fit: cover;
        border-radius: 50%;
        transition-duration: 0.5s ;
        transform: scale(1)
    }

    img:hover {
        
        transform: scale(1.1, 1.1);
    }

    p{
        text-transform: uppercase;
        margin-top: 20px;
        color: #ffffff;
        font-size: 35px;
    }
}


